useDynLib(list)

export(ictreg, predict.ictreg)
export(ictregBayes)
export(ict.test)
importFrom(VGAM, betabinomial, vglm)
importFrom(gamlss.dist, dBB)
importFrom(MASS, mvrnorm)
importFrom(quadprog, solve.QP)
importFrom(arm, bayesglm)
importFrom(mvtnorm, pmvnorm)
importFrom(sandwich, vcovHC)
importFrom(coda, mcmc)

S3method(summary, ictreg)
S3method(print, ictreg)
S3method(print, summary.ictreg)
S3method(coef, ictreg)
S3method(vcov, ictreg)
S3method(predict, ictreg)
S3method(plot, predict.ictreg)
S3method(print, predict.ictreg)
S3method(c, predict.ictreg)
S3method(print, ict.test)
S3method(coef, ictregBayes)
S3method(vcov, ictregBayes)
S3method(predict, ictregBayes)
S3method(print, ictregBayes)
S3method(summary, ictregBayes)
S3method(print, summary.ictregBayes)
S3method(as.list, ictregBayes)
S3method(summary, ictregBayes.list)
S3method(print, summary.ictregBayes.list)
S3method(coef, ictregBayes.list)
S3method(vcov, ictregBayes.list)
S3method(predict, ictregBayes.list)
S3method(print, ictregBayes.list)
