useDynLib(list)

export(ictreg, predict.ictreg)
export(ict.test)
importFrom(VGAM, betabinomial, vglm)
importFrom(gamlss.dist, dBB)
importFrom(MASS, mvrnorm)
importFrom(quadprog, solve.QP)
importFrom(arm, bayesglm)
importFrom(mvtnorm, pmvnorm)

S3method(summary, ictreg)
S3method(print, ictreg)
S3method(print, summary.ictreg)
S3method(coef, ictreg)
S3method(vcov, ictreg)
S3method(predict, ictreg)
